* {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

section {
  padding-top: 100px;
  padding-bottom: 100px; }

a {
  text-decoration: none;
  color: #fff; }

.section_title {
  font-size: 50px;
  line-height: 52px;
  color: #B31217;
  font-weight: 700;
  margin-bottom: 54px; }

.wrapper {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto; }

.btn {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-radius: 5px; }
  .btn__main {
    border: none;
    padding: 16px 0;
    width: 261px;
    color: #fff;
    background: linear-gradient(90deg, #E52D27 0%, #B31217 100%); }
  .btn__secondary {
    padding: 14px 0;
    width: 257px;
    border: 2px solid #B31217;
    color: #B31217; }

@media (max-width: 1200px) {
  .inner_wrapper {
    padding-left: 15px;
    padding-right: 15px; } }

.section_intro {
  padding-top: 0;
  background: url(../assets/img/banner.jpg) no-repeat 0% 100%;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  .section_intro ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .section_intro .header {
    margin-top: 26px;
    display: flex; }
    .section_intro .header nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .section_intro .header nav .menu_box {
        display: flex; }
        .section_intro .header nav .menu_box .menu_item {
          font-size: 18px;
          line-height: 25px; }
        .section_intro .header nav .menu_box .active {
          font-weight: bold; }
          .section_intro .header nav .menu_box .active:after {
            content: "";
            display: block;
            width: 50%;
            padding-top: 8px;
            border-bottom: 3px solid #C61D20; }
        .section_intro .header nav .menu_box li + li {
          margin-left: 57px; }
      .section_intro .header nav #menu_toggle {
        display: none; }
      @media (max-width: 768px) {
        .section_intro .header nav #menu_toggle {
          opacity: 0; }
          .section_intro .header nav #menu_toggle:checked ~ .menu_btn > span {
            transform: rotate(45deg); }
          .section_intro .header nav #menu_toggle:checked ~ .menu_btn > span::before {
            top: 0;
            transform: rotate(0); }
          .section_intro .header nav #menu_toggle:checked ~ .menu_btn > span::after {
            top: 0;
            transform: rotate(90deg); }
          .section_intro .header nav #menu_toggle:checked ~ .menu_box {
            visibility: visible;
            left: 0; }
        .section_intro .header nav .menu_btn {
          display: flex;
          align-items: center;
          position: absolute;
          top: 20px;
          right: 20px;
          width: 26px;
          height: 26px;
          cursor: pointer;
          z-index: 25 .section_intro .header nav .menu_btn; }
        .section_intro .header nav .menu_btn > span,
        .section_intro .header nav .menu_btn > span::before,
        .section_intro .header nav .menu_btn > span::after {
          display: block;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #616161;
          transition-duration: .25s; }
        .section_intro .header nav .menu_btn > span::before {
          content: '';
          top: -8px; }
        .section_intro .header nav .menu_btn > span::after {
          content: '';
          top: 8px; }
        .section_intro .header nav .menu_box {
          display: block;
          position: fixed;
          visibility: hidden;
          top: 0;
          left: -100%;
          width: 300px;
          height: 100%;
          margin: 0;
          padding: 80px 0;
          list-style: none;
          background-color: #ECEFF1;
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          transition-duration: .25s; }
        .section_intro .header nav .menu_item {
          display: block;
          padding: 12px 24px;
          color: #333;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: 600;
          text-decoration: none;
          transition-duration: .25s; }
        .section_intro .header nav .menu_item:hover {
          background-color: #CFD8DC; } }
  .section_intro .preview_outer {
    flex: auto;
    display: flex;
    align-items: center; }
  .section_intro .preview {
    color: #fff;
    padding-left: 300px; }
    .section_intro .preview__title {
      max-width: 538px;
      font-weight: bold;
      font-size: 40px;
      line-height: 47px; }
    .section_intro .preview__description {
      margin-top: 16px;
      max-width: 385px;
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 38px; }

.section_advantages .advantages_area {
  display: flex;
  justify-content: space-between; }

.section_advantages .advantages_item {
  background: #FFFFFF;
  box-shadow: 0px 6.76923px 33.8462px rgba(0, 0, 0, 0.15);
  border-radius: 8.46154px;
  max-width: 360px;
  padding: 80px 40px; }
  .section_advantages .advantages_item__icon {
    border: 3px solid #B31217;
    border-radius: 3.125px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .section_advantages .advantages_item__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin-top: 20px; }
  .section_advantages .advantages_item__description {
    font-size: 18px;
    line-height: 25px;
    margin-top: 14px; }

.section_advantages .advantages_item + .advantages_item {
  margin-left: 15px; }

.section_about {
  background: rgba(242, 242, 242, 0.4); }
  .section_about .section_about_inner {
    display: flex; }
    .section_about .section_about_inner .about_promo_images {
      position: relative;
      padding: 33px 33px 33px 0;
      margin-left: 33px; }
      .section_about .section_about_inner .about_promo_images img {
        position: relative;
        z-index: 10;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .section_about .section_about_inner .about_promo_images::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 100px;
        width: 100px;
        background: linear-gradient(90deg, #E52D27 0%, #B31217 100%);
        border-radius: 10px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 5; }
      .section_about .section_about_inner .about_promo_images::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -33px;
        display: block;
        width: 275px;
        height: 172px;
        z-index: 5;
        background: url(../assets/about/about_2.jpg) no-repeat 0 0;
        background-size: cover;
        border-radius: 10px;
        z-index: 15; }
    .section_about .section_about_inner .about_promo_text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 500px;
      padding: 33px 0 33px;
      margin-left: 92px; }
      .section_about .section_about_inner .about_promo_text__description {
        margin-bottom: 58px;
        font-size: 18px;
        line-height: 25px; }

.section_reviews {
  position: relative; }
  .section_reviews::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 85%, 100% 30%, 100% 100%, 0% 100%);
    background: linear-gradient(90deg, #E52D27 0%, #B31217 100%);
    z-index: 5; }
  .section_reviews .reviews_outer {
    position: relative;
    background: #FAFAFA;
    border-radius: 10px;
    padding: 80px 100px;
    z-index: 15; }
  .section_reviews .reviews_title {
    margin-bottom: 24px; }
  .section_reviews .reviews_subtitle {
    font-size: 30px;
    line-height: 40px;
    color: rgba(58, 58, 58, 0.83);
    margin-bottom: 26px; }
  .section_reviews .reviews_subtitle_area {
    display: flex;
    justify-content: space-between; }
    .section_reviews .reviews_subtitle_area .reviews_item {
      position: relative;
      max-width: 280px;
      padding: 48px 27px;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      margin-top: 33px; }
      .section_reviews .reviews_subtitle_area .reviews_item + .reviews_item {
        margin-left: 10px; }
      .section_reviews .reviews_subtitle_area .reviews_item__photo {
        position: absolute;
        top: -33px;
        left: 50%;
        margin-left: -41px;
        height: 82px;
        width: 82px;
        border-radius: 50%;
        overflow: hidden; }
        .section_reviews .reviews_subtitle_area .reviews_item__photo img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .section_reviews .reviews_subtitle_area .reviews_item__title {
        text-align: center;
        font-weight: 600;
        font-size: 21px;
        line-height: 30px;
        text-transform: uppercase;
        color: #B31217;
        margin: 20px 0; }
      .section_reviews .reviews_subtitle_area .reviews_item__description {
        font-size: 18px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.9); }

.section_requirements {
  background: rgba(169, 211, 238, 0.29); }
  .section_requirements .requirements_wrap {
    display: flex; }
  .section_requirements .requirements_photo {
    flex: 1;
    display: flex;
    align-items: center; }
    .section_requirements .requirements_photo .photo_area {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      max-width: 489px;
      width: 100%;
      height: 447px;
      border-radius: 10px;
      background: linear-gradient(90deg, #E52D27 0%, #B31217 100%); }
      .section_requirements .requirements_photo .photo_area img {
        object-fit: contain; }
  .section_requirements .requirements_text {
    flex: 1;
    padding-left: 15px; }
    .section_requirements .requirements_text__title {
      color: #13366C;
      margin-bottom: 24px; }
    .section_requirements .requirements_text__subtitle {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #B31217;
      margin-bottom: 36px; }
    .section_requirements .requirements_text__list {
      padding: 0;
      list-style: none;
      margin-top: 0;
      margin-bottom: 36px; }
      .section_requirements .requirements_text__list li {
        background: url(../assets/bi_check-circle-fill.svg) no-repeat 0 2.5px;
        padding-left: 32px;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px; }
    .section_requirements .requirements_text__buttons {
      display: flex; }
      .section_requirements .requirements_text__buttons .btn + .btn {
        margin-left: 20px; }

.section_vacancies .section_title,
.section_vacancies .vacancies_button {
  text-align: center; }

.section_vacancies .vacancies_area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px; }
  .section_vacancies .vacancies_area .vacancies_item {
    max-width: 280px; }
    .section_vacancies .vacancies_area .vacancies_item__banner {
      overflow: hidden;
      max-height: 300px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.19);
      margin-bottom: 10px; }
      .section_vacancies .vacancies_area .vacancies_item__banner img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      @media (min-width: 1200px) {
        .section_vacancies .vacancies_area .vacancies_item__banner {
          max-height: 360px; } }
    .section_vacancies .vacancies_area .vacancies_item__title {
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      color: #B31217;
      margin-bottom: 15px; }
    .section_vacancies .vacancies_area .vacancies_item__description {
      font-size: 18px;
      line-height: 25px;
      color: #000000; }
  @media (max-width: 1999px) {
    .section_vacancies .vacancies_area .vacancies_item + .vacancies_item {
      margin-left: 15px; } }

.section_promo {
  padding-bottom: 0;
  background: #E6F2FA; }
  .section_promo .promo_title {
    display: flex;
    justify-content: center; }
    .section_promo .promo_title .section_title {
      color: #13366C;
      max-width: 693px; }
  .section_promo .promo_item {
    position: relative;
    padding: 100px; }
    .section_promo .promo_item .item_description {
      position: absolute;
      top: 40%;
      left: 17%;
      max-width: 488px;
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      color: #13366C;
      z-index: 15; }
    .section_promo .promo_item .item_description_rev {
      left: 61%; }
    @media (max-width: 1999px) {
      .section_promo .promo_item .item_description {
        left: 2%; }
      .section_promo .promo_item .item_description_rev {
        left: 50%; } }
  .section_promo .promo_item_reverse {
    padding: 100px; }
    .section_promo .promo_item_reverse .item_wrap {
      flex-direction: row-reverse; }
  .section_promo .item_wrap {
    display: flex; }
    .section_promo .item_wrap .promo_text {
      flex: 1; }
      .section_promo .item_wrap .promo_text__number {
        font-weight: 800;
        font-size: 192px;
        line-height: 130px;
        color: #B5CFE4; }
    .section_promo .item_wrap .promo_photo {
      flex: 1;
      display: flex;
      justify-content: center; }
      .section_promo .item_wrap .promo_photo .photo_wrap {
        overflow: hidden;
        border: 6px solid #D4E9F7;
        border-radius: 12px;
        width: 280px;
        height: 280px; }
        .section_promo .item_wrap .promo_photo .photo_wrap img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

.section_anketa .anketa_area {
  display: flex;
  background: #FBFBFB;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.51);
  border-radius: 10px;
  overflow: hidden; }
  .section_anketa .anketa_area .anketa_photo {
    max-width: 506px;
    width: 100%;
    background: url(../assets/photo-1555991415-a6a1dc2f950b1.jpg) no-repeat 50% 50%; }
  .section_anketa .anketa_area .anketa_form {
    padding: 53px 40px 62px 76px; }
    .section_anketa .anketa_area .anketa_form_title {
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      color: #B31217;
      margin-bottom: 40px; }
    .section_anketa .anketa_area .anketa_form .forma {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .section_anketa .anketa_area .anketa_form .forma input {
        width: 100%;
        margin-bottom: 15px;
        padding: 16px 21px;
        background: #FFFFFF;
        border: 1px solid rgba(181, 181, 181, 0.47);
        border-radius: 5px;
        outline: none; }
        .section_anketa .anketa_area .anketa_form .forma input:focus {
          box-shadow: inset 0px 0px 0px 1px rgba(181, 181, 181, 0.47); }
      .section_anketa .anketa_area .anketa_form .forma button {
        margin-top: 40px; }

.section_FAQ {
  background: #13366C; }
  .section_FAQ .section_FAQ_wrap {
    display: flex; }
  .section_FAQ .section_title {
    color: #fff;
    max-width: 150px; }
  .section_FAQ .faq_area {
    margin-left: 300px;
    flex: auto; }
    .section_FAQ .faq_area .faq_area_item {
      display: flex;
      justify-content: space-between;
      background: #FFFFFF;
      border-radius: 10px;
      padding: 12px 27px;
      max-width: 642px;
      width: 100%;
      font-size: 18px;
      line-height: 25px;
      color: #13366C; }
      .section_FAQ .faq_area .faq_area_item + .faq_area_item {
        margin-top: 20px; }

.section_contacts {
  padding: 0;
  display: flex; }
  .section_contacts .logo {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .section_contacts .contacts_wrap {
    padding: 50px 0;
    width: 100%;
    background: linear-gradient(90deg, #E52D27 0%, #B31217 100%); }
    .section_contacts .contacts_wrap .contacts_area {
      flex: auto;
      display: flex;
      justify-content: center; }
      .section_contacts .contacts_wrap .contacts_area ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        max-width: 1000px;
        width: 100%;
        height: 150px;
        margin: 0 0 0 50px;
        padding: 0; }
        .section_contacts .contacts_wrap .contacts_area ul li {
          width: 200px;
          font-weight: bold;
          font-size: 18px;
          color: #FFFFFF; }
          .section_contacts .contacts_wrap .contacts_area ul li .contact_description {
            margin-top: 10px;
            line-height: 25px;
            font-weight: 300; }
        .section_contacts .contacts_wrap .contacts_area ul .social {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          width: 200px;
          height: 25px;
          margin-top: 10px;
          margin-left: 0; }
          .section_contacts .contacts_wrap .contacts_area ul .social li + li {
            margin-left: 13px; }
          .section_contacts .contacts_wrap .contacts_area ul .social li {
            width: 25px; }
          .section_contacts .contacts_wrap .contacts_area ul .social img {
            width: 25px; }
