body {
  font-family: "Open Sans", sans-serif; }

section {
  padding-top: 100px;
  padding-bottom: 100px; }

a {
  text-decoration: none;
  color: #fff; }

.section_title {
  font-size: 50px;
  line-height: 52px;
  color: #B31217;
  font-weight: 700;
  margin-bottom: 54px; }

.wrapper {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto; }

.btn {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-radius: 5px; }
  .btn__main {
    border: none;
    padding: 16px 0;
    width: 261px;
    color: #fff;
    background: linear-gradient(90deg, #E52D27 0%, #B31217 100%); }
  .btn__secondary {
    padding: 14px 0;
    width: 257px;
    border: 2px solid #B31217;
    color: #B31217; }

.section_intro {
  padding-top: 0;
  background: url(../assets/img/banner.jpg) no-repeat 0% 100%;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column; }
  .section_intro ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .section_intro .header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .section_intro .header .menu {
      display: flex; }
      .section_intro .header .menu .menu_item + .menu_item {
        margin-left: 57px; }
      .section_intro .header .menu .menu_item {
        padding-top: 48px;
        font-size: 18px;
        line-height: 25px; }
      .section_intro .header .menu .active {
        font-weight: bold; }
        .section_intro .header .menu .active:after {
          content: "";
          display: block;
          width: 50%;
          padding-top: 8px;
          border-bottom: 3px solid #C61D20; }
  .section_intro .preview_outer {
    flex: auto;
    display: flex;
    align-items: center; }
  .section_intro .preview {
    color: #fff; }
    .section_intro .preview__title {
      max-width: 763px;
      font-weight: bold;
      font-size: 50px;
      line-height: 66px; }
    .section_intro .preview__description {
      margin-top: 16px;
      max-width: 385px;
      font-size: 18px;
      line-height: 25px; }
    .section_intro .preview .main_btn {
      margin-top: 38px; }

.section_advantages .advantages_area {
  display: flex;
  justify-content: space-between; }

.section_advantages .advantages_item {
  background: #FFFFFF;
  box-shadow: 0px 6.76923px 33.8462px rgba(0, 0, 0, 0.15);
  border-radius: 8.46154px;
  max-width: 280px;
  padding: 80px 40px; }
  .section_advantages .advantages_item__icon {
    border: 3px solid #B31217;
    border-radius: 3.125px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .section_advantages .advantages_item__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin-top: 20px; }
  .section_advantages .advantages_item__description {
    font-size: 18px;
    line-height: 25px;
    margin-top: 14px; }

.section_about {
  background: rgba(242, 242, 242, 0.4); }
  .section_about .section_about_inner {
    display: flex; }
    .section_about .section_about_inner .about_promo_images {
      flex: 1;
      position: relative;
      padding: 33px 33px 33px 0; }
      .section_about .section_about_inner .about_promo_images img {
        position: relative;
        z-index: 10;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .section_about .section_about_inner .about_promo_images::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 100px;
        width: 100px;
        background: linear-gradient(90deg, #E52D27 0%, #B31217 100%);
        border-radius: 10px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        z-index: 5; }
      .section_about .section_about_inner .about_promo_images::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -33px;
        display: block;
        width: 275px;
        height: 172px;
        z-index: 5;
        background: url(../assets/about/about_2.jpg) no-repeat 0 0;
        background-size: cover;
        border-radius: 10px;
        z-index: 15; }
    .section_about .section_about_inner .about_promo_text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 500px;
      padding: 33px 0 33px;
      margin-left: 92px; }
      .section_about .section_about_inner .about_promo_text__description {
        margin-bottom: 58px;
        font-size: 18px;
        line-height: 25px; }

.section_reviews {
  position: relative; }
  .section_reviews::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 85%, 100% 30%, 100% 100%, 0% 100%);
    background: linear-gradient(90deg, #E52D27 0%, #B31217 100%);
    z-index: 5; }
  .section_reviews .reviews_outer {
    position: relative;
    background: #FAFAFA;
    border-radius: 10px;
    padding: 80px 100px;
    z-index: 15; }
  .section_reviews .reviews_title {
    margin-bottom: 24px; }
  .section_reviews .reviews_subtitle {
    font-size: 30px;
    line-height: 40px;
    color: rgba(58, 58, 58, 0.83);
    margin-bottom: 26px; }
  .section_reviews .reviews_subtitle_area {
    display: flex;
    justify-content: space-between; }
    .section_reviews .reviews_subtitle_area .reviews_item {
      position: relative;
      max-width: 226px;
      padding: 48px 27px;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      margin-top: 33px; }
      .section_reviews .reviews_subtitle_area .reviews_item + .reviews_item {
        margin-left: 10px; }
      .section_reviews .reviews_subtitle_area .reviews_item__photo {
        position: absolute;
        top: -33px;
        left: 50%;
        margin-left: -41px;
        height: 82px;
        width: 82px;
        border-radius: 50%;
        overflow: hidden; }
        .section_reviews .reviews_subtitle_area .reviews_item__photo img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .section_reviews .reviews_subtitle_area .reviews_item__title {
        text-align: center;
        font-weight: 600;
        font-size: 21px;
        line-height: 30px;
        text-transform: uppercase;
        color: #B31217;
        margin: 20px 0; }
      .section_reviews .reviews_subtitle_area .reviews_item__description {
        font-size: 18px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.9); }

.section_requirements {
  background: rgba(169, 211, 238, 0.29); }
  .section_requirements .requirements_wrap {
    display: flex; }
  .section_requirements .requirements_photo {
    flex: 1;
    display: flex;
    align-items: center; }
    .section_requirements .requirements_photo .photo_area {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 489px;
      height: 447px;
      border-radius: 10px;
      background: linear-gradient(90deg, #E52D27 0%, #B31217 100%); }
      .section_requirements .requirements_photo .photo_area img {
        object-fit: contain; }
  .section_requirements .requirements_text {
    flex: 1; }
    .section_requirements .requirements_text__title {
      color: #13366C;
      margin-bottom: 24px; }
    .section_requirements .requirements_text__subtitle {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #B31217;
      margin-bottom: 36px; }
    .section_requirements .requirements_text__list {
      padding: 0;
      list-style: none;
      margin-top: 0;
      margin-bottom: 36px; }
      .section_requirements .requirements_text__list li {
        background: url(../assets/bi_check-circle-fill.svg) no-repeat 0 2.5px;
        padding-left: 32px;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px; }
    .section_requirements .requirements_text__buttons .btn + .btn {
      margin-left: 20px; }

.section_vacancies .section_title,
.section_vacancies .vacancies_button {
  text-align: center; }

.section_vacancies .vacancies_area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px; }
  .section_vacancies .vacancies_area .vacancies_item {
    max-width: 280px; }
    .section_vacancies .vacancies_area .vacancies_item__banner {
      overflow: hidden;
      max-height: 384px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.19);
      margin-bottom: 10px; }
    .section_vacancies .vacancies_area .vacancies_item__title {
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      color: #B31217;
      margin-bottom: 15px; }
    .section_vacancies .vacancies_area .vacancies_item__description {
      font-size: 18px;
      line-height: 25px;
      color: #000000; }

.section_promo {
  padding-bottom: 0;
  background: #E6F2FA; }
  .section_promo .promo_title {
    display: flex;
    justify-content: center; }
    .section_promo .promo_title .section_title {
      color: #13366C;
      max-width: 693px; }
  .section_promo .promo_item {
    position: relative;
    padding: 100px; }
    .section_promo .promo_item .item_description {
      position: absolute;
      top: 40%;
      left: 17%;
      width: 488px;
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      color: #13366C;
      z-index: 15; }
    .section_promo .promo_item .item_description_rev {
      left: 61%; }
  .section_promo .promo_item_reverse {
    padding: 100px; }
    .section_promo .promo_item_reverse .item_wrap {
      flex-direction: row-reverse; }
  .section_promo .item_wrap {
    display: flex; }
    .section_promo .item_wrap .promo_text {
      flex: 1; }
      .section_promo .item_wrap .promo_text__number {
        font-weight: 800;
        font-size: 192px;
        line-height: 130px;
        color: #B5CFE4; }
    .section_promo .item_wrap .promo_photo {
      flex: 1;
      display: flex;
      justify-content: center; }
      .section_promo .item_wrap .promo_photo .photo_wrap {
        overflow: hidden;
        border: 6px solid #D4E9F7;
        border-radius: 12px;
        width: 280px;
        height: 280px; }
        .section_promo .item_wrap .promo_photo .photo_wrap img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

.section_anketa .anketa_area {
  display: flex;
  background: #FBFBFB;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.51);
  border-radius: 10px;
  overflow: hidden; }
  .section_anketa .anketa_area .anketa_photo {
    max-width: 506px;
    width: 100%;
    background: url(../assets/photo-1555991415-a6a1dc2f950b1.jpg) no-repeat 50% 50%; }
  .section_anketa .anketa_area .anketa_form {
    padding: 53px 40px 62px 76px; }
    .section_anketa .anketa_area .anketa_form_title {
      font-weight: 600;
      font-size: 30px;
      line-height: 40px;
      color: #B31217;
      margin-bottom: 40px; }
    .section_anketa .anketa_area .anketa_form .forma {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box; }
      .section_anketa .anketa_area .anketa_form .forma input {
        width: 100%;
        margin-bottom: 15px;
        padding: 16px 21px;
        background: #FFFFFF;
        border: 1px solid rgba(181, 181, 181, 0.47);
        box-sizing: border-box;
        border-radius: 5px;
        outline: none; }
        .section_anketa .anketa_area .anketa_form .forma input:focus {
          border: 2px solid rgba(181, 181, 181, 0.47); }
      .section_anketa .anketa_area .anketa_form .forma button {
        margin-top: 40px; }

.section_FAQ {
  background: #13366C; }
  .section_FAQ .section_FAQ_wrap {
    display: flex; }
  .section_FAQ .section_title {
    color: #fff;
    max-width: 150px; }
  .section_FAQ .faq_area {
    margin-left: 300px;
    flex: auto; }
    .section_FAQ .faq_area .faq_area_item {
      display: flex;
      justify-content: space-between;
      background: #FFFFFF;
      border-radius: 10px;
      padding: 12px 27px;
      max-width: 642px;
      width: 100%;
      font-size: 18px;
      line-height: 25px;
      color: #13366C; }
      .section_FAQ .faq_area .faq_area_item + .faq_area_item {
        margin-top: 20px; }
